body {
    overflow-x: hidden;
}

#fundo2 {
    z-index: 1;
    bottom: 0%;
    height: 75%;
    width: 100%;
    opacity: .9;
    filter: blur(2);
    position: fixed;
    animation: encolhe_bloco .4s;
    box-shadow: 0px 0px 25px rgb(25, 25, 112);
    background: linear-gradient(rgba(25, 25, 112, .5), rgb(11, 11, 58));
}

#fundo3 {
    top: 0%;
    width: 100%;
    opacity: .8;
    height: 100%;
    position: fixed;
    animation: img_fundo 2s;
    background-color: black;
    background-repeat: no-repeat;
    animation: mostra_bloco2 .5s;
    background-size: 1366px 720px;
}

#fundo4 {
    opacity: .5;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(25, 25, 112);
}

.img_conq {
    width: 100%;
    height: 120px;
    z-index: 3 !important;
}

.nome_conq {
    left: 5%;
    z-index: 3;
    bottom: 0%;
    color: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    text-shadow: 0 0 5px black;
}

#informacoes_jogo {
    top: 50%;
    z-index: 3;
    left: -15px;
    width: 215px;
    position: fixed;
    border-radius: 15px;
    animation: puxa_informa 1s;
    background-color: rgba(0, 0, 0, .5);
}

#status_bar {
    top: 0%;
    height: 70px;
    position: fixed;
    animation: carrega_porcentagem 1s;
    background-color: rgba(255, 255, 0, .3);
}

#msg_conqui {
    z-index: 3;
    color: white;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 2px 1px black;
}

#fundo_att {
    opacity: .5;
    width: 100%;
    height: 100%;
    background-color: midnightblue;
}

#att_conquista {
    top: 15%;
    left: 5%;
    width: 90%;
    height: 72%;
    color: white;
    position: fixed;
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
    background-color: rgba(0, 0, 0, .5);
}

#texto_conq {
    right: 5%;
    width: 50%;
    height: auto;
    padding-left: 5%;
    position: absolute;
}

#descricao_conquista {
    animation: mostra_bloco 2s;
}

#pontuacao_conq {
    top: 0%;
    right: 0px;
    font-size: 50px;
    position: absolute;
}

#conq_hr {
    width: 100%;
    animation: expande_hr 1s;
}

#descricao_conq {
    float: left;
    font-size: 17px;
    position: absolute;
}

.input_conq {
    color: black;
}

#img_conq {
    left: 2%;
    width: 500px;
    height: 280px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    align-items: center;
    background-color: red;
}

#icon_status {
    top: 58%;
    left: 40%;
    z-index: 3;
    position: fixed;
    -webkit-filter: drop-shadow(0px 0px 5px black);
}

#icon_secret {
    top: 20px;
    left: 10px;
    z-index: 5;
    size: 15px;
    color: white;
    position: absolute;
    transform: rotateZ(-15deg);
    -webkit-filter: drop-shadow(0px 0px 5px black);
}

#icon_option {
    top: 5%;
    left: 90%;
    z-index: 3;
    width: 45px;
    height: 90%;
    position: absolute;
    transition: transform .2s;
    -webkit-filter: drop-shadow(0px 0px 5px black);
}

#status_conq {
    top: 83%;
    left: 3%;
    position: absolute;
}

#lixeira_conq {
    transition: transform .2s;
}

#lixeira_conq:hover {
    transform: scale(1.2);
}

#img_conquista {
    width: 500px;
    height: 280px;
    pointer-events: none z-index: 3 !important;
    position: absolute !important;
    box-shadow: 0px 0px 10px black;
}

#input_conq {
    top: 0px;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
}

#conquistas_grid {
    top: 30%;
    left: 16%;
    z-index: 2;
    padding: 1px;
    height: auto;
    display: grid;
    max-width: 90%;
    grid-gap: 30px;
    position: absolute;
    padding-bottom: 100px;
    animation: sobe_conquistas 1s;
    grid-template-columns: auto auto auto auto;
}

#contorna_conq {
    top: 0px;
    z-index: 3;
    width: 220px;
    height: 120px;
    position: absolute;
    border: 2px white solid;
    box-shadow: 0 0 25px midnightblue inset;
}

#contorna_conq_block {
    top: 0px;
    z-index: 3;
    width: 220px;
    height: 120px;
    position: absolute;
    border: 2px gray solid;
    box-shadow: 0 0 25px black inset;
    background-color: rgba(134, 136, 138, .5);
}

#quadro_img {
    top: 21.3%;
    left: 6.8%;
    width: 500px;
    height: 280px;
    position: fixed;
}

#descricao {
    z-index: 3;
    width: 220px;
    height: 120px;
    text-align: center;
    align-items: center;
    background-color: midnightblue;
    transition: box-shadow .3s, transform .5s;
    background: url('../files/img/textures/naves.png');
}

#descricao:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px white;
}

#infos-descri {
    z-index: 2;
    width: 220px;
    float: right;
    color: white;
    height: 120px;
    font-size: 45px;
    text-align: center;
    align-items: center;
}

#form_impt_conq {
    z-index: 3;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    padding-top: 10%;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
}

#form_add_conq {
    z-index: 3;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    padding-top: 10%;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
}

#h2_text {
    color: white;
}

#opcoes_add {
    top: 15%;
    right: 5%;
    z-index: 3;
    width: auto;
    position: absolute;
}

#opcoes_add_conq {
    top: 15%;
    right: 5%;
    z-index: 3;
    width: auto;
    display: none;
    position: fixed;
}

#opcoes_add_plat {
    top: 15%;
    left: 5%;
    z-index: 3;
    width: auto;
    position: absolute;
}

.button_confirma {
    color: black;
    font-size: 30px;
    border-radius: 15px;
    transition: background-color .5s, transform .5s, color 1s;
}

.button_confirma:hover {
    color: black;
    transform: scale(1.05);
    background-color: yellow;
}

.butao_add {
    font-size: 20px;
    border-radius: 15px;
    transition: background-color .5s, transform .5s, color 1s;
}

.butao_add:hover {
    color: white;
    transform: scale(1.05);
    background-color: midnightblue;
}

#id_conq {
    width: 60px;
    color: yellow;
    font-size: 20px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 5px black;
    border-bottom-right-radius: 5px;
    background-color: rgba(255, 255, 0, .2);
}

.grid-item-capa {
    width: 220px;
    height: auto;
    padding-left: 10%;
    align-items: center;
    grid-row: 1 / span 2;
}

#capa_jogo {
    top: 5%;
    width: 180px;
    height: 250px;
    position: relative;
    animation: sobe_bloco 2s;
    box-shadow: 0px 0px 15px black;
}

#icone_completo {
    top: 0px;
    left: 19%;
    z-index: 5;
    float: right;
    display: none;
    color: yellow;
    position: absolute;
    animation: game_completo 1s;
    filter: drop-shadow(0px 0px 5px black);
    -webkit-filter: drop-shadow(0px 0px 5px black);
}

#icones {
    top: 0%;
    width: 180px;
    height: 250px;
    position: absolute;
}

#icones_plats {
    top: 83%;
    left: 3%;
    z-index: 5;
    height: 50px;
    color: white;
    position: absolute;
    filter: drop-shadow(0px 0px 5px black);
    -webkit-filter: drop-shadow(0px 0px 5px black);
}

#icon_secret_conq {
    top: 0px;
    left: 0px;
    z-index: 3;
    opacity: .6;
    color: white;
    position: absolute;
    transform: rotateZ(-15deg);
    -webkit-filter: drop-shadow(0px 0px 5px black);
}

#ajusta_icon_view {
    z-index: 5;
    width: 20px;
    position: absolute;
    padding-left: 220px;
}

#icon_view_conq {
    top: 5px;
    z-index: 3;
    right: 10px;
    color: white;
    position: absolute;
    transition: -webkit-filter .5s;
    -webkit-filter: drop-shadow(0px 0px 5px black);
}

#icon_view_conq:hover {
    -webkit-filter: drop-shadow(0px 0px 5px white);
}

#transitador {
    top: 0%;
    right: 0px;
    opacity: 0;
    z-index: 3;
    position: fixed;
    border-radius: 0px;
    background-color: midnightblue;
    box-shadow: 0px 0px 50px black;
    animation: desce_transitador .5s;
}

.grid-item {
    text-align: center;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 0px 15px black;
    width: 220px;
    height: 120px;
    overflow: hidden;
    transition: box-shadow .3s, transform .5s, opacity .5s;
}

.grid-item:hover {
    transform: scale(1.1);
    opacity: 0;
    box-shadow: 0px 0px 15px white;
}

.img_plat_1 {
    left: 0%;
    position: absolute;
}

.img_plat_3,
.img_plat_2 {
    position: absolute;
    left: 50%;
    margin-left: -32px;
    width: 64px !important;
    height: 64px !important;
    margin-top: 10%;
}

.preview_conq_bloqueada_espec {
    filter: grayscale(1) !important;
}

.conq_bloqueada {
    filter: grayscale(1);
}

.conq_bloqueada_espec {
    filter: grayscale(1) blur(5px) !important;
}

.fundo_desfocado {
    z-index: 0 !important;
    background-size: cover;
    position: absolute;
    width: 240px;
    height: 130px;
    margin-left: -10px;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.prancheta_att_fundo {
    position: absolute;
    width: 520px;
    height: 320px;
    left: 50%;
    margin-left: -260px;
    top: -2%;
    z-index: 0 !important;
}

#input_add_imagem {
    position: absolute;
    left: 2%;
    color: white;
    top: 75%;
    font-size: 20px;
}